<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Poké Builder</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/builder.js') }}"></script>
    </head>
    <body onload="loadTeam('{{ LoadTeam }}', {{ TeamPokemon }})">
        <!-- Navbar Header -->
        <nav class="navbar navbar-expand-lg sticky-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="">
                </a>
                <button type="button" class="btn btn-light" onclick="removeAll()">Clear Pokémon Team</button>
            </div>
        </nav>
        <!-- Team URL -->
        <div id="team-url-container" class="container" style="display:none;">
            <div class="row pt-3 ps-3 pe-3">
                <div id="team-url" class="col p-3 text-centered box-shadow-effect text-break">
                    <span class="text-dark fw-bold">Your Team Link: </span>
                </div>
            </div>
        </div>
        <!-- PokéTeam -->
        <div class="container-fluid pt-3 pb-3">
            <div id="poke_team" class="row row-cols-6 pt-2 gx-5">
                {% for i in range(6) %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-2 box-shadow-effect p-3 team-unused">
                        <div id="team-remove" class="container"></div>
                        <div id="team-name" class="text-center p-2"></div>
                        <div id="team-type" class="container"></div>
                        <img id="team-sprite" class="mx-auto d-block" src="{{ url_for('static', filename='imgs/pokeball.png') }}">
                        <div id="team-break"></div>
                        <div id="team-effectiveness" class="container"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Filters -->
        <div class="container p-3" id="filters">
            <input type="text" id="filter-search" onkeyup="filterSearch(this.value.toLowerCase())" placeholder="Search for Pokémon...">
            <div class="row p-2 gap-2">
                <div class="col">
                    <div class="dropdown">
                        <a id="type-dropdown-toggle" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" onclick="">Filter by Type</a>
                        <div class="dropdown-menu p-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PokéGrid -->
        <div class="container pt-3">
            <h3 class="text-center">Pokédex</h3>
            <div id="pokedex" class="row row-cols-6">
                {% for pokemon in MainPokeData %}
                    <a id="poke{{ pokemon['id'] }}" class="col-6 col-sm-4 col-md-4 col-lg-2 grow-effect btn" role="button" onclick="onSelect({{ pokemon }}, this.id)">
                        <img class="mx-auto d-block" src="{{ pokemon['img'] }}">
                        <p id="poke-id" class="text-center fw-bold">#{{ pokemon['id'] }}</p>
                        <p id="poke-name" class="text-center fw-bold">{{ pokemon['name'] }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- Bootstrap Popper + JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>